{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('handlers_set_name', handler_id=handler.id) }}">
<table>
    <tr>
        <td colspan="2">
            {{ form.name.label }}
        </td>
    </tr>    
    <tr>
        <td>
            {{ form.name(value=handler.name) }}
        </td>
        <td>
            <input type="submit" value="muuta"/>
        </td>
        <td>
            <ul>
                {% for error in form.name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </td>       
    </tr>
</form>

{% endblock %}
