{% extends "layout.html" %}

{% block body %}


{% if user_dogs is defined %}
<h2>Käyttäjillä koiria</h2>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Käyttäjä</th>
            <th scope="col">Koiria</th>
        </tr>
    </thead>
    <tbody>
        {% for user in user_dogs %}
        <tr>
            <th scope="row">{{user.username}}</th>
            <td>
                {{user.dogs}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}